/* ################ MAIN STYLES ################ */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  font-style: normal;
  background-color: var(--background-color-1);
  margin: 0;
  @media (max-width: 900px) {
    font-size: 13px;
  }
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  flex: 1 0 auto;
}

.container {
  width: 80%;
  @media (max-width: 900px){
    width: 98%;
  }
}

.header_wrapper {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
  background-color: var(--background-color-2);
  -webkit-box-shadow: var(--wk-box-shadow);
  -moz-box-shadow: var(--m-box-shadow);
  box-shadow: var(--box-shadow);
}

.header_content_wrapper {
  width: 80%;
  @media (max-width: 1200px){
    width: 98%;
  }
}

.header_content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width:950px) {
    display: none;
  }
}

.header_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_header {
  display: none;
  @media (max-width:950px) {
    display: block;
  }
}

.mobile_header_list {
  display: none;
  border-top: 1px solid var(--text-color);
  flex-flow: column;
  align-items: center;
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-2);
  margin-top: 15px;
}

.footer {
  display: flex;
  flex-flow: column;
  width: 80%;
  align-items: flex-start;
  padding: 25px 0;
  @media (max-width: 900px){
    width: 98%;
  }
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.input {
  background-color: var(--background-color-2);
  border: var(--border-color) 1px solid;
  border-radius: 5px;
  padding: 10px 8px;
  margin-right: 15px;
  width: 315px;
  color: var(--text-color);
}

.input_wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.block_wrapper {
  padding: 5px 25px;
  margin: 10px 0;
  background-color: var(--background-color-2);
  border-radius: 25px;
  @media (max-width: 900px){
    padding: 5px 5px;
    margin: 5px 0;
  }
}

.block {
  width: 100%;
  margin: 10px 0;
  border: 2px solid var(--border-color-block);
  border-radius: 15px;
  padding: 2px 15px;
  @media (max-width: 900px){
    padding: 2px 10px;
    margin: 10px 0;
  }
}

.toggle_theme {
  user-select: none;
  cursor: pointer;
  height: 64px;
  padding-left: 5px;
  width: 10%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: end;
  @media (max-width:900px) {
    padding-left: 0;
    margin: 20px 0;
    width: 163px;
    justify-content: center;
    font-size: 14px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    height: 25px;
  }
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 15px;
}

.table th {
  border: 1px solid var(--border-color);
  background-color: var(--background-color-3);
  padding: 10px 15px;
  @media (max-width: 900px){
    padding: 3px 5px;
    font-size: 13px;
  }
}

.table td {
  border: 1px solid var(--border-color);
  background-color: var(--background-color-1);
  padding: 10px 15px;
  @media (max-width: 900px){
    padding: 3px 5px;
    font-size: 13px;
  }
}

.leverage {
  font-size: small;
}

.info {
  font-size: small;
}

/* ################ DUMB MUI CHARTS ################ */

.charts {
  display: flex;
  flex-flow: row;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--background-color-1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  @media (max-width: 1100px) {
    flex-flow: column;
  }
}

.charts line {
  stroke: var(--border-color-block);
  stroke-width: 1px;
}

.charts tspan {
  fill: var(--text-color);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
}

g.MuiChartsAxis-root.MuiChartsAxis-directionX.MuiChartsAxis-bottom.css-1x2wln8-MuiChartsAxis-root-MuiChartsXAxis-root line.MuiChartsAxis-line {
  stroke: var(--border-color-block) !important;
}

g.MuiChartsAxis-root.MuiChartsAxis-directionY.MuiChartsAxis-left.css-175e1i1-MuiChartsAxis-root-MuiChartsYAxis-root line.MuiChartsAxis-line {
  stroke: var(--border-color-block) !important;
}

g.MuiChartsAxis-root.MuiChartsAxis-directionY.MuiChartsAxis-left.css-175e1i1-MuiChartsAxis-root-MuiChartsYAxis-root {
  fill: var(--text-color) !important;
}

g.MuiChartsAxis-tickContainer line.MuiChartsAxis-tick {
  stroke: var(--border-color-block) !important;
}

div.charts div.css-1sovr5q-MuiResponsiveChart-container {
    width: 100%;
}

/* ################ COLOR STYLES ################ */

html[data-theme='light']{
  --background-color-1: #c2e7e7;
  --background-color-2: #edfbfb;
  --background-color-3: #accccc;
  --text-color: #192424;
  --border-color: #192424;
  --border-color-block: #7cb4b4;
  --wk-box-shadow: 0px 0px 100px 4px rgba(194, 231, 231, 0.8);
  --m-box-shadow: 0px 0px 100px 4px rgba(194, 231, 231, 0.8);
  --box-shadow: 0px 0px 100px 4px rgba(194, 231, 231, 0.8);
}

html[data-theme='dark']{
  --background-color-1: #040d12;
  --background-color-2: #183d3d;
  --background-color-3: #335353;
  --text-color: #dbe0e6;
  --border-color: #dbe0e6;
  --border-color-block: #4b837e;
  --wk-box-shadow: 0px 0px 100px 4px rgba(4, 13, 18, 0.8);
  --m-box-shadow: 0px 0px 100px 4px rgba(4, 13, 18, 0.8);
  --box-shadow: 0px 0px 100px 4px rgba(4, 13, 18, 0.8);
}
